<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Poké Center - Mon Compte</title>
        <link rel="icon" type="images/favicon.ico" href="/images/favicon.ico">
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <header>
            {% include 'navbar.html.twig' %}
        </header>
        <content>
            <h1>Utilisateur {{ username }}</h1>

            <div>
                {% if email is defined %}
                    <p><strong>Email:</strong> {{ email }}</p>
                {% endif %}

                {% if sold is defined %}
                    <p><strong>Solde:</strong> {{ sold }} ₽</p>
                {% endif %}

                {% if photo %}
                    <p><strong>Photo de profil:</strong></p>
                    <img src="{{ asset('uploads/profiles/' ~ photo) }}" alt="Photo de profil" width="100" height="100">
                {% else %}
                    <p>Aucune photo de profil.</p>
                {% endif %}
            </div>

			{% if invoices is defined %}
				<div>
					<h2>Modifier vos informations personnelles</h2>
					{{ form_start(form) }}
						{{ form_row(form.username) }}
						{{ form_row(form.email) }}
						{{ form_row(form.sold) }}
						{{ form_row(form.profile_picture) }}
						<button type="submit">Enregistrer</button>
					{{ form_end(form) }}
				</div>
			{% endif %}

            <div>
                <h2>Articles</h2>
                {% for article in articles %}
                    <a href="detail/{{ article.id }}">
                        <div class="article-card">
                            <div class="image-container">
                                <img src="{{ asset('uploads/images/' ~ article.imageLink) }}" alt="image {{ article.name|e }}">
                            </div>
                            <p>{{ article.name|e }}</p>
                            <p>{{ article.price|e }} ₽</p>
                        </div>
                    </a>
                {% endfor %}
            </div>

            {% if invoices is defined %}
                <div>
                    <h2>Factures</h2>
                    {% if invoices is not empty %}
                        <ul>
                            {% for invoice in invoices %}
                                <li>
                                    <strong>Facture #{{ invoice.id }}</strong><br>
                                    <p><strong>Date:</strong> {{ invoice.createdAt|date('d/m/Y H:i') }}</p>
                                    <p><strong>Prix:</strong> {{ invoice.price }} ₽</p>
                                    <p><strong>Adresse:</strong> {{ invoice.address }}</p>
                                    <p><strong>Ville:</strong> {{ invoice.city }}</p>
                                    <p><strong>Code Postal:</strong> {{ invoice.postalCode }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Aucune facture disponible.</p>
                    {% endif %}
                </div>
            {% endif %}

        </content>

        <footer>
            {% include 'footer.html.twig' %}
        </footer>
    </body>
</html>
