{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <h1>Bienvenue, {{ user.username }}</h1>
    <p>Email: {{ user.email }}</p>
    <p>Compte créé le : {{ user.createdAt|date('d/m/Y H:i') }}</p>

    <a href="{{ path('app_logout') }}">Se déconnecter</a>
{% endblock %}
{% if app.user %}
    <a href="{{ path('account') }}">Mon compte</a>
{% else %}
    <a href="{{ path('app_login') }}">Se connecter</a>
{% endif %}
