<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Poké Center - Register</title>
		<link rel="icon" type="images/favicon.ico" href="/images/favicon.ico">
		<link rel="stylesheet" href="css/index.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
	</head>
	<body class="login-body">
		<header>
			{% include 'navbar.html.twig' %}
		</header>

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

        <div class="register-container">
                <h1>Register</h1>
    <form method="post" action="{{ path('app_register') }}">
        {{ form_start(registrationForm) }}

        {{ form_widget(registrationForm.username, {
        'attr': {'class': 'form-control', 'placeholder': 'Enter your username'}
        }) }}
        {{ form_errors(registrationForm.username) }}

        {{ form_widget(registrationForm.email, {
        'attr': {'class': 'form-control', 'placeholder': 'Enter your email'}
        }) }}
        {{ form_errors(registrationForm.email) }}

        {{ form_widget(registrationForm.plainPassword, {
            'attr': {'class': 'form-control', 'placeholder': 'Enter your password'}
        }) }}
        {{ form_errors(registrationForm.plainPassword) }}

        <div class="form-check">
            <label for="{{ registrationForm.agreeTerms.vars.id }}" class="form-check-label">
                Agree to terms
            </label>
            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>

        <button class="btn" type="submit">
            Register
        </button>

        {{ form_end(registrationForm) }}
    </form>
		</div>
	</body>
</html>