<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poké Center</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        {% include 'navbar.html.twig' %}
    </header>
    
    <main class="max-w-3xl mx-auto mt-10 bg-white p-6 rounded-lg shadow-lg">
        <h1 class="text-3xl font-semibold text-center text-gray-800 mb-6">Vendez votre article !</h1>
        
        {{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}
            <div class="flex flex-col gap-2">
                {{ form_row(form.name, {'attr': {'class': 'border p-2 rounded-md w-full'}}) }}
                {{ form_row(form.description, {'attr': {'class': 'border p-2 rounded-md w-full'}}) }}
                {{ form_row(form.price, {'attr': {'class': 'border p-2 rounded-md w-full'}}) }}
                {{ form_row(form.imageFile, {'attr': {'class': 'border p-2 rounded-md w-full'}}) }}
				{{ form_row(form.amount, {'attr': {'class': 'form-control w-25 ms-10'}}) }}
				{{ form_row(form.category, {'attr': {'class': 'form-control w-25 ms-10'}}) }}
            </div>
            <button type="submit" class="mt-4 w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg transition">Vendre l'article</button>
        {{ form_end(form) }}
    </main>

    <footer>
        {% include 'footer.html.twig' %}
    </footer>
</body>
</html>
